@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Seguradora</h1>
    <p class="lead">Bem vindo ao sistema de cadastro de seguros, utilize o menu superior para escolher a opção desejada.</p>
</div>